<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Website title</title>
    </head>
    <body>
        <H1>We will be right back.</H1>
        <p>The site is under maintanence</p>
    </body>
</html>